In [41]:
#установка библиотек
!pip install psycopg2
# !pip install plotly

Requirement already satisfied: psycopg2 in c:\users\vaio\anaconda3\lib\site-packages (2.8.6)

In [42]:
#проверка подключения PostgreSQL 
import psycopg2
import pandas as pd
#Библиотека ждя визуализации
from IPython.display import HTML
import plotly.express as px


#!введите свои реквизиты!
DB_HOST = '52.157.159.24'
DB_USER = 'student6'
DB_USER_PASSWORD = 'student6_password'
DB_NAME = 'sql_ex_for_student6'

conn = psycopg2.connect(host=DB_HOST, user=DB_USER, password=DB_USER_PASSWORD, dbname=DB_NAME)

In [44]:
request = """

create or replace view count_products_by_makers as
select maker, count(model) 
from product 
group by maker

"""
df = pd.read_sql_query(request, conn)
fig = px.bar(x=df.maker.to_list(), y=df['count'].to_list(), labels={'X': 'maker', 'Y': 'count'})
fig.show()

DatabaseError: Execution failed on sql '

create or replace view count_products_by_makers as
select maker, count(model)
from product
group by maker

': canceling statement due to lock timeout

In [29]:
df.maker.to_list()

['E', 'E_updated', 'D', 'A', 'C', 'B']

In [26]:
df['count'].to_list()

[7, 2, 2, 7, 1, 2]